@mixin font-yeseva {
  font-family: 'Yeseva One', cursive;
}

@mixin font-lato {
  font-family: "Lato", sans-serif;
}

@mixin font-gentium {
  font-family: 'Gentium Book Basic', serif;
}

@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
}