.promo {
  &-section {
    background: url(../img/images/promo-bg.jpg) center no-repeat;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-text {
      display: flex;
      flex-direction: column;
      flex-basis: 35%;

      &__subtitle {
        margin-top: 32px;
      }

      &__img {
        margin-top: 52px;
        text-align: center;

        img {
          position: relative;
          left: 35px;
        }
      }
    }
  }
}