@import "normalize";
@import "_reset";



html, body {
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

@import "_mixins";
@import "_variables";
@import "_common";

@import "_header";
@import "_promo";
@import "_ingredients";
@import "_menu";
@import "_review";
@import "_order";
@import "_footer";

@import "_media";